version: "3"
services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5001:5001"
  worker:
    build:
      context: celery_task
      dockerfile: Dockerfile
